@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  transition: all 0.8s ease;
  font-family: "Ubuntu", sans-serif;
}

html, body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background: black;
  background-image: url("https://512pixels.net/downloads/macos-wallpapers/10-9.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: 0.5s ease;
  display: flex; /* Add this */
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  min-height: 100vh;       /* Ensure body fills viewport */
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  text-align: center;
  background-color: #f0f0f0;
  color: black;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 0px;
}

button:hover {
  background-color: #00aaff;
}

.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 30px;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 50px;
  margin-top: 50px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

img {
  height: 20px;
  width: 20px;
}
main {
   display: flex
}
